<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from <a href="httpp://mapbox.com">Map box</a> and 
        <a href="https://weatherstack.com/">Weather stack</a></p>
    </div>
    
    {{>footer}}
</body>

</html>