<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form action="">
            <input type="text" placeholder="Where is your location?">
            <button>Search</button>
        </form>
        <img src="" id="weather-icon" style="padding-top:20px">
        <p id="location"></p>
        <p id="forecast"></p>
    </div>

    {{>footer}}
    
    <script src="../js/app.js"></script>
</body>

</html>